doctype 5
html

    head

        != css('viewport')

        script(
            data-main="viewport/main"
            src = 'viewport/require.js'
        )
    
    body
        
        div#viewport1
        div#viewport2
        div#viewport3
        div#viewport4

