doctype 5
html

    head

        != css('viewport')
        script(src = '/viewport/three.js')
        script(src = '/viewport/require.js')
    
    body
        
        div#viewport

    script

        