doctype 5
html

    head

        != css('viewport')

        //
        // TODO: - huh the miltiple module/path symantics of requirejs?
        //       - move main.js and require.js into local public/
        //       - require viewport and shape components from main
        // 
        // script(src = 'shape/shape.js')
        //

        script(
            data-main = 'main.js' 
            src       = 'require.js'
        )
    
    body
        
        div#viewport
